function split(num) {
  num = num + '';
  return {
    integer: num.slice(0, num.indexOf('.')),
    decimal: num.slice(num.indexOf('.'), num.length)
  };
}

function toFixed(num, digit) {
  num = +num;
  digit = digit || 0;
  return num.toFixed(digit);
}

function over(num, unit) {
  var unitDesc = unit == 1000 ? 'k' : 'w';
  var baseUnit = unit == 1000 ? 1000 : 10000;
  num = num >= unit ? (num / baseUnit).toFixed(1) + unitDesc : num;
  return num;
}

function thousandFilter(num) {
  newNum =0
  if (num > 1000 && num % 1000 != 0) {
    newNum = formatDecimal(num/10000,1) + 'w+'
  } else {
     newNum = num
  }
  return newNum;
}

function formatDecimal(num, decimal) {
  num = num.toString()
  index = num.indexOf('.')
  if (index !== -1) {
      num = num.substring(0, decimal + index + 1)
  } else {
      num = num.substring(0)
  }
  return parseFloat(num).toFixed(decimal)
}

function format(num) {
  num = num.toString();
  return num[1] ? num : '0' + num;
}

function floatGoodsPrice(goodsPrice){
   price =(goodsPrice*1).toFixed(2)
  return price
}

module.exports = {
  split: split,
  toFixed: toFixed,
  over: over,
  format: format,
  thousandFilter:thousandFilter,
  floatGoodsPrice:floatGoodsPrice
}
