function statusDesc(status) {
  var desc = '';
  if (status === 101) {
    desc = '等待买家付款';
  } else if ([102, 103, 104].includes(status)) {
    desc = '交易关闭';
  } else if (status === 201) {
    desc = '等待卖家发货';
  } else if (status === 202) {
    desc = '退款中';
  } else if (status === 203) {
    desc = '退款成功';
  } else if (status === 301) {
    desc = '待收货';
  } else if ([401, 402].includes(status)) {
    desc = '交易成功';
  }
  return desc;
}

function paymentDesc(status) {
  var desc = '应付款';
  if (status === 101) {
    paymentDesc = '需付款';
  } else if ([201, 301, 401, 402].includes(status)) {
    desc = '实付款';
  }
  return desc;
}

module.exports = {
  statusDesc: statusDesc,
  paymentDesc: paymentDesc,
}
